NEXT_PUBLIC_FIREBASE_API_KEY= "AIzaSyDmv-pschZ8y60FRUzZwBlnjdZU4zVTjPA"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="form-15380.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="form-15380"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="form-15380.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "1086092985316"
NEXT_PUBLIC_FIREBASE_APP_ID="1:1086092985316:web:953fd98772bdbd5266bdf1"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-WXFCTQ1T11"